
run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5175
externalPort = 3001
exposeLocalhost = true
