
run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]
publicDir = "dist"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 3000
externalPort = 80
